configparser==3.5.0b2
DateTime==4.0.1
DictObject==0.1.1
ez-setup==0.9
httplib2==0.8
beautifulsoup4==4.3.2
pytg==0.4.1
pytz==2014.2
requests==2.2.1
twitter==1.15.0
wikipedia==1.4.0
zope.interface==4.1.1
